table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border-bottom: 1px solid #eff2f5;
  padding: 3rem;
  text-align: center;
  font-weight: 500;
}

th {
  font-size: 1.3rem;
}

table tr:hover {
  background-color: #f8fafd;
}

table th {
  border-top: 1px solid #eff2f5;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  font-weight: 600;
  letter-spacing: normal;
  text-transform: uppercase;
  border-radius: 0.8rem;
  border-color: transparent;
  cursor: pointer;
  margin: 0.1rem;
  outline: none;
}

.btn-primary {
  color: #ffffff;
  background: #2e7ad0;
  border: 1px solid transparent;
  font-size: 1.1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & input {
    height: 4rem;
    border: none;
    outline: none;
    border-radius: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 3rem;
    background: rgb(239, 242, 245) url(/static/img/search.svg) center right 10px
      no-repeat;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgb(166, 176, 195);
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: rgb(166, 176, 195);
    }
  }

  & svg {
    position: absolute;
  }
}

.page-size {
  width: 12%;
  align-items: center;

  & select {
    padding: 0.8rem;
    border-radius: 0.8rem;
    background: rgb(239, 242, 245);
    border: none;
    outline: none;
  }

  & option {
    background: #fff;
  }
}
